{{- $page := .page -}}
{{- $marginable := .marginable -}}
{{- $side := .side | default "right" -}}
{{- $source := "" -}}
{{- with .body -}}
  {{- $source = . -}}
{{- else -}}
  {{- $source = .inner -}}
{{- end -}}
{{- $inner := $source | strings.TrimSpace -}}
{{- $notes := $page.Scratch.Get "tufteNotes" | default (slice) -}}
{{- $number := add (len $notes) 1 -}}
{{- $inlineBody := $inner | $page.RenderString (dict "display" "inline") -}}
{{- $blockBody := $inner | $page.RenderString (dict "display" "block") -}}
{{- $normalized := replaceRE `\r\n?` "\n" $inner -}}
{{- $normalized = replaceRE `\n[ \t]*\n+` "\n\n" $normalized -}}
{{- $marginParagraphs := slice -}}
{{- range split $normalized "\n\n" -}}
  {{- $paragraph := . | strings.TrimSpace -}}
  {{- if $paragraph -}}
    {{- $marginParagraphs = $marginParagraphs | append ($paragraph | $page.RenderString (dict "display" "inline")) -}}
  {{- end -}}
{{- end -}}
{{- $marginLead := $inlineBody -}}
{{- $marginTail := slice -}}
{{- if gt (len $marginParagraphs) 0 -}}
  {{- $marginLead = index $marginParagraphs 0 -}}
  {{- if gt (len $marginParagraphs) 1 -}}
    {{- $marginTail = after 1 $marginParagraphs -}}
  {{- end -}}
{{- end -}}
{{- $backref := printf `<a class="tufte-endnote__backref" href="#tufte-ref-%d" role="doc-backlink">↩</a>` $number -}}
{{- $endnoteBody := printf `%s %s` $blockBody $backref | safeHTML -}}
{{- if gt (len (findRE `</p>\s*$` $blockBody)) 0 -}}
  {{- $endnoteBody = replaceRE `</p>\s*$` (printf ` %s</p>` $backref) $blockBody | safeHTML -}}
{{- end -}}
{{- $note := dict
  "number" $number
  "marginable" $marginable
  "side" $side
  "blockBody" $blockBody
  "endnoteBody" $endnoteBody
-}}
{{- $page.Scratch.Add "tufteNotes" (slice $note) -}}
{{- $classes := printf "tufte-note%s" (cond $marginable (printf " tufte-note--marginable tufte-note--%s" $side) " tufte-note--endnote") -}}
{{- $markup := printf `<span class="%s"><sup id="tufte-ref-%d"><a class="tufte-note-ref" href="#tufte-note-%d" role="doc-noteref">%d</a></sup>` $classes $number $number $number -}}
{{- if $marginable -}}
  {{- $markup = printf `%s<span class="tufte-sidenote tufte-sidenote--%s"><span class="tufte-sidenote__lead"><span class="tufte-sidenote__number">%d.</span>%s</span>` $markup $side $number $marginLead -}}
  {{- range $marginTail -}}
    {{- $markup = printf `%s<span class="tufte-sidenote__paragraph">%s</span>` $markup . -}}
  {{- end -}}
  {{- $markup = printf `%s</span>` $markup -}}
{{- end -}}
{{- $markup = printf `%s</span>` $markup -}}
{{- $markup | safeHTML -}}
